#result{
    width: 200px;
    height: 50px;
    font-size: x-large;
    padding: 10px;
    border-radius: 15px;
}

.num-btn{
    background-color: burlywood;
    width: 75px;
    height: 65px;
    font-size: x-large;
    border-radius: 15px;
}

h1{
    margin-left: 150px;
}

.ewan{
    margin: 60px;
    max-width: 390px;
    background-color:darkorchid;
    border-radius: 30px;
    box-sizing: border-box;
    
}

td{
    width: 65px;
    height: 50px;
    text-align: center;
    padding: 10px;
}

@media (max-width: 425px) {
    #result{
        width: 200px;
        height: 40px;
        font-size: x-large;
        padding: 10px;
        border-radius: 15px;
    }
    
    .num-btn{
        background-color: burlywood;
        width: 60px;
        height: 60px;
        border-radius: 15px;
    }
    
    h1{
        margin-left: 120px;
        font-size: x-large;
    }
    
    .ewan{
        margin: 30px;
        max-width: 350px;
        background-color:darkorchid;
        border-radius: 30px;
        box-sizing: border-box;
        
    }
    
    td{
        width: 65px;
        height: 50px;
        text-align: center;
        padding: 10px;
    }

}

@media (max-width: 375px) {
    #result{
        width: 200px;
        height: 30px;
        font-size: x-large;
        padding: 10px;
        border-radius: 15px;
    }
    
    .num-btn{
        background-color: burlywood;
        width: 50px;
        height: 50px;
        font-size: larger;
        border-radius: 15px;
    }
    
    h1{
        margin-left: 100px;
        font-size: x-large;
    }
    
    .ewan{
        margin: 30px;
        max-width: 300px;
        background-color:darkorchid;
        border-radius: 20px;
        box-sizing: border-box;
        
    }
    
    td{
        width: 65px;
        height: 50px;
        text-align: center;
        padding: 10px;
    }
}

@media (max-width: 320px) {
    #result{
        width: 160px;
        height: 20px;
        font-size: x-large;
        padding: 10px;
        border-radius: 15px;
    }
    
    .num-btn{
        background-color: burlywood;
        width: 40px;
        height: 40px;
        font-size: smaller;
        border-radius: 15px;
    }
    
    h1{
        margin-left: 75px;
        font-size: x-large;
    }
    
    .ewan{
        margin: 30px;
        max-width: 250px;
        background-color:darkorchid;
        border-radius: 10px;
        box-sizing: border-box;
        
    }
    
    td{
        width: 65px;
        height: 50px;
        text-align: center;
        padding: 10px;
    }

}